@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap'); /* Links */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); /* Soy */
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@300;400;600;700&display=swap'); /* Nombre */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');/* Texto*/
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;600&display=swap');/* Boton contactame */
@font-face {
    font-family: myFont;
    src: url(Revamped.otf);
}

/* Clases Globales */

*{
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
}

section [id] {
    scroll-margin-top: 9rem;
}

html{
    scroll-behavior: smooth;
}

/* Header */

.contactameOcultoTablet{
    display: none;
}

.menuOculto{
    display: none;
}

nav a{
    text-decoration: none;
    color: #9a9b9c;
    font-size: 1.5rem;
    margin-left: 2rem;
    position: relative;
    transition: .2s;
}

nav a:hover{
    color:#F9F9F9;    
}

header {
    background-color: #34353A;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    font-family: 'Josefin Sans', sans-serif; 
    max-width: 120rem;
    width: 100%;
    position: fixed;
    z-index: 99;  
}

header section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 83%; 
    margin-top: 2rem;   
}

nav{
    margin-left: 4rem;
}

header input{
    padding: 0.7rem 0rem 0.7rem 1.5rem;
    border-radius: 0.6rem;
    border: none;
    font-size: 1.5rem;
    width: 13.5rem;
    color: #fcfcff;
    font-family: 'Josefin Sans', sans-serif;
    background: url(Imagenes/iconoSearch.svg),#3D3E42;
    background-repeat: no-repeat;
    background-position: 92%;
    outline: none;
}

header input:focus{
    background-image: none;
    border: 0.2rem solid #FFC86B;   
}

header h1{
    font-size: 6rem;
    font-family: myFont;
    color: #FFC86B;
}