@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap'); /* Links */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); /* Soy */
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@300;400;600;700&display=swap'); /* Nombre */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');/* Texto*/
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;600&display=swap');/* Boton contactame */
@font-face {
    font-family: myFont;
    src: url(Revamped.otf);
}

/* Clases Globales */

*{
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
}

section [id] {
    scroll-margin-top: 9rem;
}

html{
    scroll-behavior: smooth;
}

/* Header */

.contactameOcultoTablet{
    display: none;
}

.menuOculto{
    display: none;
}

nav a{
    text-decoration: none;
    color: #9a9b9c;
    font-size: 1.5rem;
    margin-left: 2rem;
    position: relative;
    transition: .2s;
}

nav a:hover{
    color:#F9F9F9;    
}

header {
    background-color: #34353A;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    font-family: 'Josefin Sans', sans-serif; 
    max-width: 120rem;
    width: 100%;
    position: fixed;
    z-index: 99;  
}

header section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 83%; 
    margin-top: 2rem;   
}

nav{
    margin-left: 4rem;
}

header input{
    padding: 0.7rem 0rem 0.7rem 1.5rem;
    border-radius: 0.6rem;
    border: none;
    font-size: 1.5rem;
    width: 13.5rem;
    color: #fcfcff;
    font-family: 'Josefin Sans', sans-serif;
    background: url(Imagenes/iconoSearch.svg),#3D3E42;
    background-repeat: no-repeat;
    background-position: 92%;
    outline: none;
}

header input:focus{
    background-image: none;
    border: 0.2rem solid #FFC86B;   
}

header h1{
    font-size: 6rem;
    font-family: myFont;
    color: #FFC86B;
}

/* Seccion Hero */

.contactameBotonTablet{
    display: none;
}

.sectionHero{
    background: url(Imagenes/fotoPerfilBack.png), #34353A;
    background-repeat: no-repeat;
    background-size:45%;
    background-position:100% 100%;
    max-width: 120rem;
    padding-top: 8.938rem;
}

.Hero{
    height: 85vh;
    display: flex;
    justify-content: space-between;  
    margin: 0 auto;
    width: 83%;
}

/* Seccion izquierda del hero */

.contenedorHeroIzq{
    display: flex;
    align-items: center;
    margin-left: 5rem;
    margin-bottom: 5.2rem;
}

.contenedorPresentacion div{
    display: flex;
    align-items: center;
}
.contenedorHeroIzq span{
    font-size: 3em;
    font-family: 'Roboto', sans-serif;
    color: #F9F9F9;
}
.contenedorHeroIzq h1{
    display: inline;
    font-size: 5.2em;
    font-family: 'Source Serif Pro', serif;
    font-weight: 600;
    color: #FFC86B;
    margin-left: 1.5rem;
}

.contenedorHeroIzq h3{
    font-size: 2.2em;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 2.7rem;
    color: #F9F9F9;
}

.contenedorHeroIzq a{
    background-color:#34353A;
    font-size: 1.8em;
    font-family: 'Cabin', sans-serif;
    padding: 0.8rem 2.3rem;
    border: 0.35rem solid #FFC86B;
    border-radius: 0.7rem;
    color: #FFC86B;
    font-weight: 600;
    text-decoration: none;
    transition: .3s all;
    position: absolute;
}

.contenedorHeroIzq a:hover{
    background-color: #F0BF6C;
    color: #34353A;
    transform: translate(5rem , 0rem);
}

/* Seccion derechaa del hero */

.contenedorHeroDer{
    display: flex;
    align-items: end;   
}

.contenedorRedes::before{
    content: '';
    display: block;
    width: 0.2rem;
    height: 8rem;
    background-color: #FFC86B;
    border-radius: 0.5rem;
    position: absolute;
    bottom:15.4rem;
    left: 0.85rem;
}

.contenedorRedes{
    position: relative;
    flex-direction: column;
    display: flex;  
}

.linkFace{
    margin-bottom: 1.1rem;
}

.linkTwitt , .linkLink{
    margin-bottom: 1.2rem;
}

.linkWhats{
    margin-bottom: 1.2rem;
}

.logoTwitt , .logoLink{
    height: 2rem;  
}

.logoFace{
    height: 2rem;   
}

.logoWhats{
    height: 2rem;    
}

.linkFace:hover img{
    animation: mover 1s ease infinite;
}

.linkTwitt:hover img{
    animation: mover 1s ease infinite;
}

.linkLink:hover img{
    animation: mover 1s ease infinite;
}

.linkWhats:hover img{
    animation: mover 1s ease infinite;
}

@keyframes mover {
    30% { transform: scale(1.2); }
    40%, 60% { transform: rotate(-20deg) scale(1.2); }
    50% { transform: rotate(20deg) scale(1.2); }
    70% { transform: rotate(0deg) scale(1.2); }
    100% { transform: scale(1); }
}

/* Seccion Acerca de mi */

.seccionAcerca{
    display: flex;
    justify-content: center;
    background: linear-gradient(to bottom, rgba(41,44,52,1) 0%, rgba(42,44,52,1) 2%, rgba(44,46,53,1) 4%, rgba(47,49,57,1) 8%, rgba(49,51,59,1) 12%, rgba(49,51,59,1) 100%);
    max-width: 120rem;
}

.Acerca{
    width: 83%;
    margin: 0 auto;
    position: relative;
}

.seccionAcerca h1{
    font-family: 'Source Serif Pro', serif;
    font-size: 4.2em;
    font-weight: 700;
    margin-bottom: 1.5rem ;
    margin-top: 8.8rem;
    color: #F9F9F9;
}

.seccionAcerca p{
    font-family: 'Cabin', sans-serif;
    font-size: 1.75rem;
    margin-left: 5.6rem;
    margin-bottom: 3.6rem;
    color: #F9F9F9;
    font-weight: 400;
}

.Acerca p::before{
    content: '';
    display: block;
    width: 4.43rem;
    height: 0.15rem;
    background-color: #FFC86B;
    border-radius: 0.5rem;
    position: absolute; 
    top: 16.6rem;
    left: 0rem;
}

.Acerca span{
    color: #FFC86B;
}

